<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Shopify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%- docTitle === 'Shop' ? 'active' : '' %>" href="/">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- docTitle === 'Products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- docTitle === 'Cart' ? 'active' : '' %>" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- docTitle === 'Orders' ? 'active' : '' %>" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- docTitle === 'Checkout' ? 'active' : '' %>" href="/checkout">Checkout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- docTitle === 'Add product' || docTitle === 'Edit product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- docTitle === 'Admin products' ? 'active' : '' %>" href="/admin/products">Admin Products</a>
        </li>
      </ul>
      <span class="navbar-text">
        Logout
      </span>
    </div>
  </div>
</nav>