<%- include("../partials/head") %>

  <%- include("../partials/navegation") %>

  <div class="container">
    <div class="row mt-3">
      <div class="col-12">
        <h1 class="mb-0 display-4"><%= docTitle %></h1>
        <p class="lead">List of all products</p>
      </div>
    </div>
    <div class="row">

      <% if(products.length > 0) { %>
        
        <ol class="list-group list-group-numbered">
          <% for(product of products) { %>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><a href="/products/<%= product.id %>"><%= product.title %></a></div>
              <%= product.description %>
            </div>
            <span class="badge bg-primary rounded-pill"><%= product.price %></span>
          </li>
          <% } %>
        </ol>
        <% } else { %>
      <div class="col-md-8">
        <div class="alert alert-warning d-flex align-items-center" role="alert">
          <div>
            <i class="bi bi-exclamation-triangle-fill"></i>
            No hay productos para mostrar, <a class="alert-link" href="/admin/add-product">puedes agregar un producto!</a>
          </div>
        </div>
      </div>
      <% } %>

    </div>
  </div>
  
<%- include("../partials/script") %>








